.start {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start .link {
  margin-top: 1rem;
}
.start .link button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.3);
}

.start .link button:active {
  transform: translateX(1px) translateY(1px);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
}
